:root {
  /* Primary Colors */
  --cream-white: #FFF8E7; /* Background sections */
  --coffee-brown: #714f38; /* Accents, buttons */

  /* Accent Colors */
  --caramel-beige: #DAB894; /* Contrast */
  --soft-pink: #F2D8D8; /* Option 1 for lighthearted elements */
  --mint-green: #A2D5AB; /* Option 2 for lighthearted elements */

  /* Text Colors */
  --charcoal-gray: #4E4E4E; /* Body text */
  --espresso-black: #2E2E2E; /* Headings and bold text */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Quicksand;
  color: var(--coffee-brown)
}

body {
  background-color: var(--cream-white);
  padding-top: 80px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* Header styles*/
header {
  border-bottom: 3px solid var(--coffee-brown);
  width: 100%;
  padding: 20px 0 20px 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background-color: var(--caramel-beige);
  position: fixed; 
  top: 0;
  z-index: 100;
}

.logo-section {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo-name {
  color: var(--coffee-brown);
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

.logo-img {
  height: 2.2em;
}

.nav-btns {
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  gap: 2rem;
}

.nav-btns a {
  position: relative;
}

.nav-btns a:nth-child(4)::before {
  width: 100%;
}

.nav-btns a::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -5px;
  left: 0;
  background-color: var(--coffee-brown);
  transition: 0.2s;
}

.nav-btns a:hover::before {
  width: 100%;
}

.active {
  text-decoration: underline;
}

/* Floating styles */
.floating {
  position: fixed;
  bottom: 10px; 
  right: 10px;
  border: 2px solid var(--charcoal-gray);
  border-radius: 50%;
  background-color: var(--soft-pink);
  z-index: 100;
  transition: 0.5s;
  cursor: pointer;
  height: 45px;
  width: 45px;
}

#floating-img {
  height: 100%;
  border-radius: 50%;
  transition: opacity 0.5s ease;
}

.floating:hover {
  transform: scale(3);
  bottom: 50px; 
  right: 50px;
}

/* Hero section styles*/
.hero-section {
  background: url(../assets/images/abt-imgs/abt-coffee-bg.jpg);
  width: 100%;
  height: 520px;
  color: var(--cream-white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 130px;
}

.hero-heading {
  font-size: 5em;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-weight: 500;
}

.hero-img-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.hero-img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  position: relative;
  top: 150px;
  border-radius: 20px;
  border: 8px solid var(--cream-white);
}

.hero-img:nth-child(1), .hero-img:nth-child(3) {
  height: 250px;
  width: 250px;
}

/* Gallery section styles */
.gallery-section {
  padding: 0 5em;
  margin-bottom: 100px;
}

.gallery-heading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-bottom: 50px;
}

.gallery-heading {
  font-size: 2.5em;
  text-align: center;
}

.dot {
  width: 100%;
  height: 10px;
  border-radius: 10px;
  background-color: var(--coffee-brown);
}

.dot:nth-child(3), .dot:nth-child(5) {
  width: 15%;
}

.dot:nth-child(2), .dot:nth-child(6) {
  width: 50%;
}


/* Footer styles */
.footer-section {
  background-color: #4E4E4E;
  color: var(--cream-white);
  padding: 6em 5em;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.footer-links {
  display: flex;
  gap: 1.5em;
  font-size: 1.1em;
}

.footer-socials {
  display: flex;
  gap: 0.5em;
}

.footer-bottom {
  display: flex;
  gap: 1.4em;
  justify-content: center;
}

.footer-bottom a {
  text-decoration: underline;
}

.footer-line {
  height: 1px;
  background-color: var(--cream-white);
  width: 100%;
  margin-bottom: 3em;
}