:root {
  /* Primary Colors */
  --cream-white: #FFF8E7; /* Background sections */
  --coffee-brown: #714f38; /* Accents, buttons */

  /* Accent Colors */
  --caramel-beige: #DAB894; /* Contrast */
  --soft-pink: #F2D8D8; /* Option 1 for lighthearted elements */
  --mint-green: #A2D5AB; /* Option 2 for lighthearted elements */

  /* Text Colors */
  --charcoal-gray: #4E4E4E; /* Body text */
  --espresso-black: #2E2E2E; /* Headings and bold text */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Quicksand;
  color: var(--coffee-brown)
}

body {
  background-color: var(--cream-white);
  padding-top: 7.5em;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* Header styles*/
header {
  border-bottom: 3px solid var(--coffee-brown);
  width: 100%;
  padding: 1.2em 0 1.2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  background-color: var(--caramel-beige);
  position: fixed; 
  z-index: 100;
  top: 0;
}

.logo-section {
  display: flex;
  gap: 0.8em;
  align-items: center;
}

.logo-name {
  color: var(--coffee-brown);
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.logo-img {
  height: 2.2em;
  width: 2.2em;
  max-width: 100%;
}

.nav-btns {
  font-size: 1.1rem;
  font-weight: bold;
  display: flex;
  gap: 2em;
  white-space: nowrap;
}

.nav-btns a {
  position: relative;
}

.nav-btns a:nth-child(1)::before {
  width: 100%;
}

.nav-btns a::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -5px;
  left: 0;
  background-color: var(--coffee-brown);
  transition: 0.2s;
}

.nav-btns a:hover::before {
  width: 100%;
}

/* Hero section styles*/
.hero-section {
  padding: 0 5em 0 5em;
  margin-bottom: 8.5em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2em;
}

.hero-img-section {
  position: relative;
  width: 75vh;
  height: auto;
}

.hero-img1, .hero-img2, .hero-img3 {
  border-radius: 50%;
  border: 3px solid var(--caramel-beige);
}

.hero-img1 {
  /* width: 25em;
  height: 25em; */
  max-width: 100%;
  rotate: -18deg;
  border-style: dashed;
  transition: 0.3s;
}

.hero-img1:hover {
  transform: translateY(-10px);
}

.hero-img2 {
  position: absolute;
  rotate: 25deg;
  max-width: 5em;
  bottom: 0.5em;
  right: 0;
  animation: animatename 1.4s alternate infinite;
}

.hero-img3 {
  position: absolute;
  max-width: 5em;
  rotate: -25deg;
  bottom: 0.5em;
  left: 0.12em;
  animation: animatename 1s  alternate infinite;
}


@keyframes animatename{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-3px);
  }
}

.hero-info-section {
  max-width: 45vw;
}

.hero-heading {
  color: var(--coffee-brown);
  font-size: 4rem;
  margin-bottom: 0.1em;
}

.hero-subtitle {
  font-size: 1.4rem;
  margin-bottom: 3em;
}

.hero-btn {
  font-size: 1.25rem;
  color: var(--charcoal-gray);
  background-color: var(--cream-white);
  font-weight: bold;
  padding: 0.5em 0.9em;
  border: 0.2em solid var(--charcoal-gray);
  border-radius: 0.9em;
  box-shadow: 0 0.25em 0 0 var(--charcoal-gray);
  cursor: pointer;
  transition: 0.06s;
  white-space: nowrap;
}

.hero-btn:active {
  box-shadow: 0 0 0 0 var(--charcoal-gray);  
  transform: translateY(0.25em);
}

.hero-btn:hover {
  background-color: var(--mint-green);
}

/* Floating styles */
.floating {
  position: fixed;
  bottom: 10px; 
  right: 10px;
  border: 2px solid var(--charcoal-gray);
  border-radius: 50%;
  background-color: var(--soft-pink);
  z-index: 100;
  transition: 0.5s;
  cursor: pointer;
  height: 45px;
  width: 45px;
}

#floating-img {
  height: 100%;
  border-radius: 50%;
  transition: opacity 0.5s ease;
}

.floating:hover {
  transform: scale(3);
  bottom: 50px; 
  right: 50px;
}

/** About us styles**/
.about-section {
  display: flex;
  padding: 5em 5em;
  margin-bottom: 5em;
  gap: 4em;
  background-color: var(--caramel-beige);
  color: var(--cream-white);
  position: relative;
}

.custom-shape-divider-bottom-1729817195 {
  position: absolute;
  top: -90px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1729817195 svg {
  position: relative;
  display: block;
  width: calc(142% + 1.3px);
  height: 110px;
}

.custom-shape-divider-bottom-1729817195 .shape-fill {
  fill: #DAB894;
}

.custom-shape-divider-top-1729817631 {
  position: absolute;
  bottom: -10.8em;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: -1;
}

.custom-shape-divider-top-1729817631 svg {
  position: relative;
  display: block;
  width: calc(108% + 1.3px);
  height: 10.8em;
}

.custom-shape-divider-top-1729817631 .shape-fill {
  fill: #DAB894;
}

.about-img-section {
  position: relative;
  min-width: 50%;
}

.about-img-section div {
  width: 20em;
  height: 20em;
  overflow: hidden;
}

.about-img-section div img {
  width: 100%;
  height: 100%;
  
}

.about-img-section div:nth-child(2), .about-img-section div:nth-child(1) {
  position: absolute;
  border: 5px solid var(--charcoal-gray);
  border-radius: 1.1em;
}

.about-img-section div:nth-child(1) {
  bottom: 0;
  right: 0;
}

.abt-heading {
  text-align: center;
  font-size: 2.5rem;
  text-decoration: underline 4px;
  text-underline-offset: 5px;
  margin-bottom: 0.8em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.3em;
  white-space: nowrap;
}

.abt-heading img {
  height: 1.1em;
}

.abt-parag {
  font-size: 1.2rem;
  margin-bottom: 3.5em;
}

.abt-btn {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--charcoal-gray);
  background-color: var(--cream-white);
  font-weight: bold;
  padding: 0.65em 1em;
  border: 0.2em solid var(--charcoal-gray);
  border-radius: 0.9em;
  box-shadow: 0 0.3em 0 0 var(--charcoal-gray);
  cursor: pointer;
  transition: 0.06s;
  display: flex;
  align-items: center;
}

.abt-btn:active {
  box-shadow: 0 0 0 0 var(--charcoal-gray);  
  transform: translateY(0.3em);
}

.abt-btn:hover {
  background-color: var(--mint-green);
}

/* What we offer styles */
.whatweoffer-section {
  padding: 0 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7.5em;
}

.whatweoffer-heading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  margin-bottom: 3.75em;
}

.whatweoffer-heading {
  white-space: nowrap;
  font-size: 2.5rem;
}

.whatweoffer-dot {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  background-color: var(--coffee-brown);
}

.whatweoffer-dot:nth-child(1), .whatweoffer-dot:nth-child(5) {
  width: 0.6em;
  height: 0.6em; 
}

.offer-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  align-items: stretch;
  flex-wrap: wrap;
}

.offer-card {
  min-width: 15em;
  padding: 4em 1em;
  border: 5px solid var(--coffee-brown);
  border-radius: 1.8em;
  text-align: center;
  color: var(--charcoal-gray);
  box-shadow: 0 0.6em 0 0 var(--coffee-brown);
  transition: 0.4s;
  flex-grow: 1;
  flex-basis: 0;
}

.offer-card:hover {
  box-shadow: 0 0 0 0 var(--charcoal-gray);  
  transform: translateY(0.6em);
}

.offer-icon-container {
  margin-bottom: 0.8em;
  height: 4.5em;
  display: flex;
  justify-content: center;
}

.offer-heading {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 0.8em;
}

/* FAQ styles */
.faq-section {
  padding: 0 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.25em;
}

.faq-heading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  margin-bottom: 3.7em;
  white-space: nowrap;
}

.faq-heading {
  font-size: 2.5rem;
  /* white-space: nowrap; */
  text-align: center;
}

.faq-line {
  width: 100%;
  height: 0.3em;
  background-color: var(--coffee-brown);
}

.faq {
  margin-bottom: 2em;
}

.faq-question {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 0.3em;
  position: relative;
  text-decoration: underline 3px;
  text-underline-offset: 3px;
}

.faq-answer {
  font-size: 1.2em;
}

/* Contact styles*/
.contact-section {
  background-color: var(--soft-pink);
  padding: 1em 5em 4em 5em;
  color: var(--charcoal-gray);
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.contact-circle-border1, .contact-circle-border2, .contact-circle-border3 {
  position: absolute;
  border: 15px dotted var(--caramel-beige);
  border-radius: 50%; 
  padding: 0.5em;
  z-index: -1;  
}

.contact-circle-border1 {
  width: 80em;
  height: 80em;
  top: 100px;
  left: -900px;
}

.contact-circle-border2 {
  width: 80em;
  height: 80em;
  top: -850px;
  left: 150px;
}

.contact-circle-border3 {
  width: 70em;
  height: 70em;
  top: 400px;
  right: -700px;
}

.contact-circle {
  width: 100%;
  height: 100%;
  background-color: var(--caramel-beige);
  border-radius: 50%;
  z-index: -2;
}

.contact-container {
  position: relative;
  padding: 0.9em 0 0.9em 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.contact-heading {
  font-size: 2.5rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 0.4em;
}

/* Contact form styles */
.form-container {
  border: 5px solid var(--charcoal-gray);
  border-radius: 1em;
  padding: 1.2em;
}

#contact-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: var(--cream-white); 
  color: var(--charcoal-gray);
  border-radius: 8px;
}

#contact-form h2 {
  color: var(--espresso-black);
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

textarea {
  margin-bottom: 10px;
}

button[type="submit"] {
  font-size: 1.25em;
  color: var(--charcoal-gray);
  background-color: var(--cream-white);
  font-weight: bold;
  padding: 0.55em 0.8em;
  border: 3px solid var(--charcoal-gray);
  border-radius: 15px;
  box-shadow: 0 0.3em 0 0 var(--charcoal-gray);
  cursor: pointer;
  transition: 0.06s;
}

button[type="submit"]:hover {
  background-color: var(--mint-green);
}

button[type="submit"]:active {
  box-shadow: 0 0 0 0 var(--charcoal-gray);  
  transform: translateY(0.3em);
}

.socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.3em;
}

.social {
  display: flex;
  align-items: center;
  gap: 1.8em;
}

.social-heading {
  font-size: 1.8rem;
}

.social-const {
  font-size: 1.2rem;
}

.social-icon {
  width: 3.5em;
}

/* Footer styles */
.footer-section {
  background-color: #4E4E4E;
  color: var(--cream-white);
  padding: 6em 5em;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5.6em;
  gap: 1em;
  white-space: nowrap;
}

.footer-links {
  display: flex;
  gap: 1.5em;
  font-size: 1.1em;
}

.footer-socials {
  display: flex;
  gap: 0.5em;
}

.footer-bottom {
  display: flex;
  gap: 1.4em;
  justify-content: center;
}

.footer-bottom a {
  text-decoration: underline;
}

.footer-line {
  height: 1px;
  background-color: var(--cream-white);
  width: 100%;
  margin-bottom: 3em;
}


/*Media QUeries*/

/* PC */
/* 708px */
@media (max-width: 708px) {
  html {
    font-size: 12px;
  }
}


/* Mobile - 425px */
@media (max-width: 425px) {
  html {
    font-size: 12px;
  }

  header {
    gap: 1em;
  }

  .nav-btns {
    gap: 1em;
  }

  .logo-name {
    display: none;
  }

  /* Hero section */
  .hero-img-section {
    width: 50vw;
  }

  .hero-section {
    flex-direction: column-reverse;
    padding: 0 3em 0 3em;
    justify-content: center;
  }

  .hero-info-section {
    max-width: 100%;
    text-align: center;
  }

  /* About section */
  .about-img-section {
    display: none;
  }

  /*faq section*/
  .faq-heading {
    white-space: wrap;
  }

  /* Contact section */
  .contact-section {
    padding: 2em
  }

  .contact-container {
    flex-direction: column-reverse;
    gap: 2em;
  }

  /* Footer section */
  .footer-section {
    padding: 5em 2em;
    font-size: 0.6rem;
  }
}


