:root {
  /* Primary Colors */
  --cream-white: #FFF8E7; /* Background sections */
  --coffee-brown: #714f38; /* Accents, buttons */

  /* Accent Colors */
  --caramel-beige: #DAB894; /* Contrast */
  --soft-pink: #F2D8D8; /* Option 1 for lighthearted elements */
  --mint-green: #A2D5AB; /* Option 2 for lighthearted elements */

  /* Text Colors */
  --charcoal-gray: #4E4E4E; /* Body text */
  --espresso-black: #2E2E2E; /* Headings and bold text */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Quicksand;
  color: var(--coffee-brown)
}

body {
  background-color: var(--cream-white);
  padding-top: 120px;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

/* Header styles*/
header {
  border-bottom: 3px solid var(--coffee-brown);
  width: 100%;
  padding: 20px 0 20px 0;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background-color: var(--caramel-beige);
  position: fixed; 
  z-index: 100;
  top: 0;

}

.logo-section {
  display: flex;
  gap: 10px;
  align-items: center;
}

.logo-name {
  color: var(--coffee-brown);
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
}

.logo-img {
  height: 2.2em;
}

.nav-btns {
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  gap: 2rem;
  white-space: nowrap;
}

.nav-btns a {
  position: relative;
}

.nav-btns a:nth-child(1)::before {
  width: 100%;
}

.nav-btns a::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -5px;
  left: 0;
  background-color: var(--coffee-brown);
  transition: 0.2s;
}

.nav-btns a:hover::before {
  width: 100%;
}

/* Hero section styles*/
.hero-section {
  padding-top: 80px;
  padding: 0 5em;
  padding: 0 5em 0 5em; /* For Fixed style */
  margin-bottom: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero-img-section {
  position: relative;
}

.hero-img1, .hero-img2, .hero-img3 {
  border-radius: 50%;
  border: 3px solid var(--caramel-beige);
}

.hero-img1 {
  height: 25em;
  rotate: -18deg;
  border-style: dashed;
  transition: 0.3s;
}

.hero-img1:hover {
  transform: translateY(-10px);
}

.hero-img2 {
  position: absolute;
  rotate: 25deg;
  height: 5em;
  bottom: 10px;
  right: 0;
  animation: animatename 1.4s alternate infinite;
}

.hero-img3 {
  position: absolute;
  height: 5em;
  rotate: -25deg;
  bottom: 10px;
  left: 20px;
  animation: animatename 1s  alternate infinite;
}


@keyframes animatename{
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-3px);
  }
}




.hero-heading {
  color: var(--coffee-brown);
  font-size: 4rem;
  margin-bottom: 15px;
}

.hero-subtitle {
  font-size: 1.4em;
  max-width: 600px;
  margin-bottom: 50px;
  line-height: 25px;
}

.hero-btn {
  font-size: 1.25em;
  color: var(--charcoal-gray);
  background-color: var(--cream-white);
  font-weight: bold;
  padding: 10px 20px;
  border: 3px solid var(--charcoal-gray);
  border-radius: 15px;
  box-shadow: 0 6px 0 0 var(--charcoal-gray);
  cursor: pointer;
  transition: 0.06s;
}

.hero-btn:active {
  box-shadow: 0 0 0 0 var(--charcoal-gray);  
  transform: translateY(6px);
}

.hero-btn:hover {
  background-color: var(--mint-green);
}

/* Floating styles */
.floating {
  position: fixed;
  bottom: 10px; 
  right: 10px;
  border: 2px solid var(--charcoal-gray);
  border-radius: 50%;
  background-color: var(--soft-pink);
  z-index: 100;
  transition: 0.5s;
  cursor: pointer;
  height: 45px;
  width: 45px;
}

#floating-img {
  height: 100%;
  border-radius: 50%;
  transition: opacity 0.5s ease;
}

.floating:hover {
  transform: scale(3);
  bottom: 50px; 
  right: 50px;
}

/** About us styles**/
.about-section {
  display: flex;
  padding: 80px 5em;
  margin-bottom: 80px;
  gap: 4em;
  background-color: var(--caramel-beige);
  color: var(--cream-white)
}

.about-img-section {
  position: relative;
  min-width: 50%;
}

.about-img-section img {
  max-height: 20em;
  min-width: 20em;
}

.about-img-section img:nth-child(2), .about-img-section img:nth-child(1) {
  position: absolute;
  border: 5px solid var(--charcoal-gray);
  border-radius: 20px;
}

.about-img-section img:nth-child(1) {
  bottom: 0;
  right: 0;
}

.abt-heading {
  text-align: center;
  font-size: 2.5em;
  text-decoration: underline 4px;
  text-underline-offset: 5px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 8px;
  white-space: nowrap;
}

.abt-heading img {
  height: 40px;
}

.abt-parag {
  font-size: 1.2em;
  margin-bottom: 60px;
}

.abt-btn {
  font-size: 1.25em;
  font-weight: bold;
  color: var(--charcoal-gray);
  background-color: var(--cream-white);
  font-weight: bold;
  padding: 10px 20px;
  border: 3px solid var(--charcoal-gray);
  border-radius: 15px;
  box-shadow: 0 6px 0 0 var(--charcoal-gray);
  cursor: pointer;
  transition: 0.06s;
  display: flex;
  align-items: center;
}

.abt-btn:active {
  box-shadow: 0 0 0 0 var(--charcoal-gray);  
  transform: translateY(6px);
}

.abt-btn:hover {
  background-color: var(--mint-green);
}

/* What we offer styles */
.whatweoffer-section {
  padding: 0 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.whatweoffer-heading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  margin-bottom: 60px;
}

.whatweoffer-heading {
  white-space: nowrap;
  font-size: 2.5em;
}

.whatweoffer-dot {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--coffee-brown);
}

.whatweoffer-dot:nth-child(1), .whatweoffer-dot:nth-child(5) {
  width: 10px;
  height: 10px; 
}

.offer-card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3em;
  align-items: stretch;
}

.offer-card {
  padding: 4em 15px;
  border: 5px solid var(--coffee-brown);
  border-radius: 30px;
  text-align: center;
  color: var(--charcoal-gray);
  box-shadow: 0 10px 0 0 var(--coffee-brown);
  transition: 0.4s;
  flex-grow: 1;
  flex-basis: 0;
}

.offer-card:hover {
  box-shadow: 0 0 0 0 var(--charcoal-gray);  
  transform: translateY(10px);
}

.offer-icon-container {
  margin-bottom: 10px;
}

.offer-icon {
  height: 70px;
}

.offer-heading {
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: 20px;
}

/* FAQ styles */
.faq-section {
  padding: 0 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.faq-heading-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2em;
  margin-bottom: 50px;
}

.faq-heading {
  font-size: 2.5em;
  white-space: nowrap;
}

.faq-line {
  width: 100%;
  height: 5px;
  background-color: var(--coffee-brown);
}

.faq {
  margin-bottom: 30px;
}

.faq-question {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 10px;
  position: relative;
  text-decoration: underline 3px;
  text-underline-offset: 3px;
}

.faq-answer {
  font-size: 1.2em;
}

/* Contact styles*/
.contact-section {
  background-color: var(--soft-pink);
  padding: 1em 5em 4em 5em;
  color: var(--charcoal-gray);
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.contact-circle-border1, .contact-circle-border2, .contact-circle-border3 {
  position: absolute;
  border: 15px dotted var(--caramel-beige);
  border-radius: 50%; 
  padding: 8px;
  z-index: -1;  
}

.contact-circle-border1 {
  width: 80em;
  height: 80em;
  top: 100px;
  left: -900px;
}

.contact-circle-border2 {
  width: 80em;
  height: 80em;
  top: -850px;
  left: 150px;
}

.contact-circle-border3 {
  width: 70em;
  height: 70em;
  top: 400px;
  right: -700px;
}

.contact-circle {
  width: 100%;
  height: 100%;
  background-color: var(--caramel-beige);
  border-radius: 50%;
  z-index: -2;
}

.contact-container {
  position: relative;
  padding: 30px 0 30px 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.contact-heading {
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 20px;
}

/* Contact form styles */
.form-container {
  border: 5px solid var(--charcoal-gray);
  border-radius: 15px;
  padding: 20px;
}

#contact-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: var(--cream-white); 
  color: var(--charcoal-gray);
  border-radius: 8px;
}

#contact-form h2 {
  color: var(--espresso-black);
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

textarea {
  margin-bottom: 10px;
}

button[type="submit"] {
  font-size: 1.25em;
  color: var(--charcoal-gray);
  background-color: var(--cream-white);
  font-weight: bold;
  padding: 10px 20px;
  border: 3px solid var(--charcoal-gray);
  border-radius: 15px;
  box-shadow: 0 6px 0 0 var(--charcoal-gray);
  cursor: pointer;
  transition: 0.06s;
}

button[type="submit"]:hover {
  background-color: var(--mint-green);
}

button[type="submit"]:active {
  box-shadow: 0 0 0 0 var(--charcoal-gray);  
  transform: translateY(6px);
}

.socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.3em;
}

.social {
  display: flex;
  align-items: center;
  gap: 1.8em;
}

.social-heading {
  font-size: 1.8em;
}

.social-const {
  font-size: 1.2em;
}

.social-icon {
  height: 50px;
}

/* Footer styles */
.footer-section {
  background-color: #4E4E4E;
  color: var(--cream-white);
  padding: 6em 5em;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.footer-links {
  display: flex;
  gap: 1.5em;
  font-size: 1.1em;
}

.footer-socials {
  display: flex;
  gap: 0.5em;
}

.footer-bottom {
  display: flex;
  gap: 1.4em;
  justify-content: center;
}

.footer-bottom a {
  text-decoration: underline;
}

.footer-line {
  height: 1px;
  background-color: var(--cream-white);
  width: 100%;
  margin-bottom: 3em;
}


/*Media QUeries*/
/* Mobile - 425px */
@media (max-width: 425px){
  /* Header */
  header {
    font-size: 0.9em;
    gap: 2em;
  }

  .nav-btns {
    gap: 1em;
  }

  .logo-name {
    display: none;
  }

  /*Hero section*/
  .hero-section {
    padding: 0 2em;
    display: flex;
    flex-direction: column-reverse;
  }

  .hero-info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-img1 {
    height: 8em;
  }

  .hero-img2, .hero-img3 {
    display: none;
  }

  .hero-heading, .hero-subtitle {
    text-align: center;
  }

  /* about section */
  .about-section {
    padding: 2em;
  }

  .about-img-section {
    display: none;
  }

  .abt-parag {
    text-align: center;
  }

  /*What we Offer*/
  .whatweoffer-section {
    padding: 2em;
  }

  .offer-card-container {
    flex-direction: column;
  }

  /*FAQ*/
  .faq-section {
    padding: 2em;
  }

  .faq-heading {
    white-space: wrap;
    text-align: center;
  }

  /*Contact Us section*/
  .contact-section {
    padding: 2em 2em;
  }

  .contact-container {
    display:block;
    font-size: 0.7rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 2em;
  }

  .socials-container {
    font-size: 0.8em;
  }

  /*Footer section*/
  .footer-section {
    padding: 2em;
    font-size: 0.6rem;
  }
}

/* 401px */
@media (max-width: 401px) {
  header {
    font-size: 0.7em;
  }
}

/* PC */
/* 732px */
@media (max-width: 856px) {
  .hero-section {
    font-size: 0.8em;
  }

  .about-section {
    font-size: 0.9em;
  }

  .whatweoffer-section {
    font-size: 0.9em;
  }

  .offer-card-container {
    flex-direction: column;
  }

  .socials-container {
    font-size: 0.8em;
  }

  .contact-section {
    padding: 2em 2em;
  }

  /*Footer section*/
  .footer-section {
    padding: 2em;
    font-size: 0.6rem;
  }
}

/* 660 px */
@media (max-width: 660px) {
  /* Header section*/
  .logo-name {
    display: none;
  }

  .hero-section {
    font-size: 0.6em;
  }

  .about-img-section {
    font-size: 0.9em;
  }

  .socials-container {
    font-size: 0.7em;
  }

  /*Footer section*/
  .footer-section {
    padding: 2em;
    font-size: 0.6rem;
  }
}


